@model AccountExpress.Models.Customers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div data-simplebar class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="title-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Excluir Cliente</h4>
                            </div>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">Nome</label>
                                    <p>@Html.DisplayFor(model => model.Name)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">E-mail</label>
                                    <p>@Html.DisplayFor(model => model.Email)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">Data de Nascimento</label>
                                    <p>@Html.DisplayFor(model => model.DateOfBirth)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">CPF</label>
                                    <p>@Html.DisplayFor(model => model.CPF)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">RG</label>
                                    <p>@Html.DisplayFor(model => model.RG)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">CNH</label>
                                    <p>@Html.DisplayFor(model => model.CNH)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">Celular</label>
                                    <p>@Html.DisplayFor(model => model.Phone)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">Endereço</label>
                                    <p>@Html.DisplayFor(model => model.Adress)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">Número</label>
                                    <p>@Html.DisplayFor(model => model.AdressNumber)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">Complemento</label>
                                    <p>@Html.DisplayFor(model => model.Complement)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">Bairro</label>
                                    <p>@Html.DisplayFor(model => model.District)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">Cidade</label>
                                    <p>@Html.DisplayFor(model => model.City)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">Estado</label>
                                    <p>@Html.DisplayFor(model => model.State)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">CEP</label>
                                    <p>@Html.DisplayFor(model => model.CEP)</p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="box-btn">
                                    <form asp-action="Delete">
                                        <input type="hidden" asp-for="Id" />
                                        <a asp-action="Index" class="btn btn-dark">Voltar</a>
                                        <input type="submit" value="Apagar" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
