@model AccountExpress.Models.Vehicle

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brands)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brands)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exchange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exchange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Steering)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Steering)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturing)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
