
@{
    ViewData["Title"] = "Visão Geral | ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="title-wrapper">
        <h4>Visão Geral</h4>
    </div>
</div>
<div class="col-md-4">
    <div class="mini-box">
        <div class="title-box">
            <a asp-controller="Vehicles" asp-action="Index"><span><b>Veículos</b></span><i class="fas fa-cog"></i></a>

        </div>
        <div class="content-box">
            <p>Cadastrados<span class="badge">@ViewBag.TotalVehicles</span></p>
            <hr />
            <p>Disponíveis<span class="badge">@ViewBag.AvailableVehicles</span></p>
            <hr />
            <p>Indisponíveis<span class="badge">@ViewBag.UnavailableVehicles</span></p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="mini-box">
        <div class="title-box">
            <a asp-controller="Customers" asp-action="Index"><span><b>Clientes</b></span><i class="fas fa-cog"></i></a>

        </div>
        <div class="content-box">
            <p>Cadastrados<span class="badge">@ViewBag.TotalCustomers</span></p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="mini-box">
        <div class="title-box">
            <a asp-controller="Rents" asp-action="Index"><span><b>Aluguéis</b></span><i class="fas fa-cog"></i></a>

        </div>
        <div class="content-box">
            <p>Em andamento<span class="badge">@ViewBag.TotalRents</span></p>
        </div>
    </div>
</div>