<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/simplebar.css">
    <link rel="stylesheet" href="~/css/main.css">
    <title>@ViewData["Title"] Vehicle Express</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div id="logo">
            <a class="navbar-brand" href="@Url.Action("Index", "Overview" , null)">Vehicle Express</a>
        </div>
    </nav>
    <aside>
        <div id="profile">
            <div id="img-profile">
                <img src="~/images/avatar.png" alt="Avatar">
            </div>
            <div id="name-profile">
                <span>Ivo Guilherme</span>
            </div>
        </div>
        <div data-simplebar class="navigation">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Overview" , null)">
                        <span class="moldure">
                            <i class="far fa-chart-bar"></i>
                        </span>
                        Visão Geral
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Vehicles" , null)">
                        <span class="moldure">
                            <i class="far fa-id-card"></i>
                        </span>
                        Veículos
                    </a>
                </li>
                <li data-toggle="collapse" data-target="#users-nav" class="collapsed active">
                    <a href="@Url.Action("Index", "Customers" , null)">
                        <span class="moldure"><i class="far fa-user"></i></span>
                        Clientes
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Rents" , null)">
                        <span class="moldure">
                            <i class="far fa-handshake"></i>
                        </span>
                        Aluguéis
                    </a>
                </li>
                <li data-toggle="collapse" data-target="#config-nav" class="collapsed active">
                    <a href="#">
                        <span class="moldure"><i class="far fa-sun"></i></span>
                        <span class="icon"><i class="fas fa-angle-left"></i></span>
                        Configurações
                    </a>
                </li>
                <ul class="sub-menu collapse" id="config-nav">
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Privacidade</a></li>
                </ul>
            </ul>
        </div>
        <div class="box-exit">
            <div id="exit">
                <a href="#"><span>Sair</span><i class="fas fa-power-off"></i></a>
            </div>
        </div>
    </aside>
    <div data-simplebar class="wrapper">
        <div class="container-fluid">
            <div class="row">

                @RenderBody()

            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/simplebar/simplebar.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>