@model AccountExpress.Models.Rent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCustomers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCustomers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVehicles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVehicles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfRent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Daily)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Daily)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelayRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelayRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
